*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.calc_grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calc_grid > button {
  cursor: pointer;
  font-size: 2.2rem;
  border: 1px solid rgba(72, 72, 72, 0.54);
  background-color: rgba(255, 255, 255, 0.75);
}

.calc_grid > button:hover {
  background-color: rgba(185, 195, 170, 0.544);
}

.two_fields {
  grid-column: span 2;
}

.display {
  grid-column: 1 / -1;
  word-wrap: break-word;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 12px;
}

.display .prev_operand {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
}

.display .result {
  color: white;
  font-size: 2rem;
}
